.leftconent-active:hover {
    box-shadow: 0 2px 2px 4px rgb(42, 82, 240, 0.3) !important;
}

.leftconent-active {
    background-color: #dfe2e7 !important;
    border-color: #2a52f0 !important;
    box-shadow: 0 2px 2px 0px rgb(42, 82, 240, 0.3) !important;

    .headercontent {
        background-color: #2a52f0 !important;
        color: #dfe2e7 !important;
    }

    .todoCheck {
        color: #dfe2e7 !important;

        input {
            background-color: #7ea2e0 !important;
            color: #dfe2e7 !important;
            outline: none !important;
        }

        .todoCheck__box {
            background-color: #57585a !important;

            .todoCheck_box-icon_left:hover {
                color: #7ea2e0 !important;

            }

            .todoCheck_box-icon_rigth:hover {
                color: #7ea2e0 !important;
            }

            .todoCheck_box_edit-icon:hover {
                color: #7ea2e0 !important;
            }
        }
    }
}

.leftconent:hover {

    box-shadow: 0 2px 2px 4px #0000004d;
}

.leftconent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 450px;
    width: 450px;
    background: #242424;
    border-radius: 20px 20px 0 0;
    border: solid #121212 5px;
    box-shadow: 0 2px 2px 0px #0000004d;
    transition: 0.3s;

    .headercontent {
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFC107;
        border-radius: 20px 20px 0 0;
        background-color: #121212;
        transition: 0.3s;
    }

    .active {
        background-color: aqua;
    }

    .leftcontent__list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        width: 450px;
        overflow-y: auto !important;
    }

    p {
        color: white;
    }

    .todoCheck {
        display: flex;
        justify-content: center;
        align-items: flex-start !important;
        height: 40px;
        color: #121212;


        input {
            background-color: #121212;
            text-align: center;
            color: white;
            font-size: 1.2rem;
            border-style: none;
            height: 30px;
            border-radius: 20px;
            width: 382px;

        }

        input::placeholder {
            text-align: center;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                max-width: 308.48px;
                min-width: 308.48px;
                font-size: 1.2rem;
            }
        }

        .todoCheck__box {
            cursor: pointer;
            display: flex;
            align-content: center;
            justify-content: space-around;
            border-radius: 15px;
            background: rgb(245, 56, 56);
            padding: 10px;
            margin-top: 10px;
            position: relative;
            right: 10px !important;
            transition: 0.3s;

            .todoCheck_box-icon_left {
                cursor: pointer;
                font-size: 18px !important;
                margin-right: 10px;
                transition: 0.15s;
            }

            .todoCheck_box-icon_left:hover {
                color: white;
                opacity: 0.7;
            }

            .todoCheck_box-icon_rigth {
                cursor: pointer;
                font-size: 18px !important;
                transition: 0.15s;
            }

            .todoCheck_box-icon_rigth:hover {
                color: white;
                opacity: 0.7;
            }

            .todoCheck_box_edit-icon {
                cursor: pointer;
                font-size: 18px;
                margin-right: 10px;
                transition: 0.15s;
            }

            .todoCheck_box_edit-icon:hover {
                color: white;
                opacity: 0.7;
            }

        }

    }
}

@media (max-width:1367px) {

    .leftconent {
        width: 420px;

        .headercontent {
            width: 420px;
        }

        .leftcontent__list {
            width: 420px;
        }

        .todoCheck__box {
            input {

                width: 338.47px;

            }

            div {
                span {
                    max-width: 278.48px;
                    min-width: 278.48px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width:1347px) {

    .leftconent {
        width: 415px;

        .headercontent {
            width: 415px;
        }

        .leftcontent__list {
            width: 415px;
        }

        .todoCheck__box {
            input {
                width: 333.47px;

            }

            div {
                span {
                    max-width: 273.48px;
                    min-width: 273.48px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width:1280px) {

    .leftconent {
        width: 385px;


        .headercontent {
            width: 385px;
        }

        .leftcontent__list {
            width: 385px;
        }

        .todoCheck__box {

            input {
                width: 313.47px;

            }

            div {
                span {
                    max-width: 253.48px;
                    min-width: 253.48px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width:992px) {

    .leftconent {

        margin-left: 25%;

    }
}

@media (max-width:769px) {

    .leftconent {
        margin-left: 6%;

    }
}

@media (max-width:601px) {

    .leftconent {
        margin-left: 6%;

    }

}

@media (max-width:481px) {

    .leftconent {
        box-shadow: 0 2px 2px 4px;
        border-width: 3px;
        margin-left: 1.8%;
    }

}

@media (max-width:415px) {
    .leftconent {
        width: 350px;
        margin-left: 1%;

        .headercontent {
            width: 350px;
        }

        .leftcontent__list {
            width: 350px;
        }

        .todoCheck__box {


            input {
                width: 268.47px;

            }

            div {
                span {
                    max-width: 208.48px;
                    min-width: 208.48px;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width:376px) {

    .leftconent {
        width: 325px;
        margin-left: 1%;

        .headercontent {
            width: 325px;
        }

        .leftcontent__list {
            width: 325px;
        }

        .todoCheck__box {

            input {
                width: 243.47px;

            }

            div {
                span {
                    max-width: 183.48px;
                    min-width: 183.48px;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width:321px) {

    .leftconent {
        width: 270px;

        .headercontent {
            width: 270px;
        }

        .leftcontent__list {
            width: 270px;
        }

        .todoCheck__box {

            input {
                width: 188.47px;

            }

            div {
                span {
                    max-width: 128.48px;
                    min-width: 128.48px;
                    font-size: 1rem;
                }
            }
        }
    }
}